* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  width: 100%;
  background: linear-gradient(92deg, #e6dfe9 1.18%, #dec4fb 100%);
}
p {
  margin:1px;
}
main {
  padding: 15px;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 5px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--image:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px;
}

.form--input {
  font-family: 'Roboto Mono', monospace;
  font-size: large;
  margin:0%;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  letter-spacing: -1px;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
}

.results--form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.results {
  border-radius: 5px;
  border: 1px dashed #0f0f0f;
}

.result {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  letter-spacing: -1.5px;
  margin: 0;
  inline-size: 1fr;
  overflow-wrap: break-word;
}

.letters {
  font-family: 'Roboto Mono', monospace;
  font-size:100%;
  color: #672280;
  letter-spacing: -1.5px;
  margin-left: 10px;
  margin-right:10px;
  inline-size: 1fr;
  overflow-wrap: break-word;
}